<h2>Welcome to Complaint Management System</h2>
<br>
<h3>Hello {{user.name}} !!!</h3>

<br>
<br>
<a href="/complaint" class="btn btn-success btn-lg">Register a Complaint</a>
<a href="/mycomplaints" class="btn btn-info btn-lg ml-2">View My Complaints</a>